.product {
  display: grid;
  width: $card-width;
  padding: 15px 14px;
  border: 1px solid $card-border-color;
  border-radius: 5px;

  &__img {
    width: $card-img-width + 2 * $card-image-border-size;
    height: $card-img-height + 2 * $card-image-border-size;
    padding: (15px - $card-image-border-size) 0;
    margin: 0 auto;
    border: $card-image-border-size solid transparent;
    transition: transform 1s;

    &:hover {
      transform: scale(1.2, 1.2);
      border-color: #f3f3f3;
    }
  }

  &__title {
    margin-top: 30px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  &__service-font {
    @include card-service-font;
  }

  &__review {
    @include grid-props;
    grid-template-columns: 3fr 2fr;
    margin-top: 15px;
  }

  &__rating {
    display: grid;
    grid-template-columns: repeat(5, 19px);
  }

  &__star {
    width: 15px;
    height: 15px;
    background-image: url("../images/star.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__star--active {
    background-image: url("../images/star-active.svg");
  }

  &__feedback-counter {
    justify-self: end;
  }

  &__price {
    @include grid-props;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px 0;
  }

  &__cost {
    justify-self: end;
    font-size: 16px;
    font-weight: 700;
  }

  &__buy-button {
    height: 40px;
    padding-top: 12px;
    background: $link-action-color;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  
    &:hover {
      background-color: #fff;
      color: $link-action-color;
      border: 1px solid $link-action-color;
    }
  }
}
